<!-- indexer::stop -->
{% block calltoaction %}
    {% set attributes = attrs()
      .setIfExists('id', element_html_id)
      .addClass([element_css_classes, "module-#{type|replace({'_': '-'})}"])
      .mergeWith(attributes|default)
    %}
    <div {% block attributes %}{{ attributes }}{% endblock %}>
        <a href="{{ ctaUrl }}" title="{{ ctaTitle }}">
            <span>{{ ctaText }}</span>
        </a>
    </div>
{% endblock %}
<!-- indexer::continue -->
